.footer {
    background: #2C343E;
    margin-top: 200px;
    height: 120px;
    max-width: 1280px;
    
    &__items {
        display: flex;
        justify-content: space-between;
        padding-left: 86px;
    }
    
    &__logo-img {
        margin-right: 103px;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
    }
    
    &__list-item {
        list-style-type: none;
    }
    
    &__list-link {
        text-decoration: none;
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        margin-right: 33px;
        
        &:hover{
            color: #FEFCF7;
        }
    }
    
    &__social-link {
        margin-right: 24px;
    }
}

.left {
    
    &__footer {
        display: flex;
        align-items: center;
        padding-top: 47px;
    }
}
.right {
    
    &__footer {
        align-items: center;
        padding-top: 47px;
        padding-right: 86px;
    }
}
