.header {
    padding-top: 50px;
    margin-bottom: 48px;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__link {
        font-family: 'Barlow';
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        margin-right: 33px;

        &:active{
            color: #333D4B;
        }
    }
    
    &__logo {
    }
    
    &__list {
        display: flex;
    }
    
    &__iteam {
    }
}
